<a href="https://colab.research.google.com/github/Snehal763/Data-Science-Portfolio/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print(j,end=" ")
  print()

enter no of rows :5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
#2
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print(i,end=" ")
  print()

enter no of rows :5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
#3
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(a,0,-1):
    print(j,end=" ")
  print()

enter no of rows :5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
#4
a=int(input("enter no of rows :"))
for i in range(a,0,-1):
  for j in range(a,0,-1):
    print(i,end=" ")
  print()

enter no of rows :5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
#5
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,i+1):
    print('*',end=" ")
  print()

enter no of rows :5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#6
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print('*',end=" ")
  print()

enter no of rows :5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#7
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print(j,end=" ")
  print()

enter no of rows :5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
#8
num = 1
a=int(input("enter nno of rows"))
for i in range(1,a+1):
    for j in range(1,a+1):
        print(num, end="\t")
        num += 1
    print()

enter nno of rows5
1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20
21	22	23	24	25

In [ ]:
#9
ch=65
a=int(input("enter no of rows: "))
for i in range(1,a+1):
    for j in range(1,a+1):
        print(chr(ch), end=" ")
        ch+=1
    print()

enter no of rows: 5
A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
#10
a=int(input("enter nno of rows"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print(chr(64+j),end=' ')
  print()

enter nno of rows5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
#11
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a,0,-1):
    print(chr(64+j),end=' ')
  print()

enter nno of rows :5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
#12
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,a+1):
    print(chr(64+i),end=' ')
  print()

enter no of rows :5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
#13
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a,0,-1):
    print(chr(64+i),end=' ')
  print()

enter nno of rows :5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [ ]:
#14
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter nno of rows :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#15
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a,i-1,-1):
    print(j,end=" ")
  print()

enter nno of rows :5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#16
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

enter no of rows :5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#17
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a,i-1,-1):
    print(i,end=" ")
  print()

enter nno of rows :5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
#18
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print()

enter nno of rows :5
A
A B
A B C
A B C D
A B C D E

In [ ]:
#19
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a,i-1,-1):
    print(chr(64+j),end=" ")
  print()

enter nno of rows :5
E
E D
E D C
E D C B
E D C B A

In [ ]:
#20
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter nno of rows :5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#21
a=int(input("enter no of rows :"))
for i in range(a,0,-1):
    for j in range(a,a-i,-1):
        print(j, end=" ")
    print()

enter no of rows :5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
#22
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(1,i+1):
    print(chr(64+j),end=" ")
  print()

enter nno of rows :5
A B C D E
A B C D
A B C
A B
A

In [ ]:
#23
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(1,i+1):
    print(chr(64+i),end=" ")
  print()

enter nno of rows :5
E E E E E
D D D D
C C C
B B
A

In [ ]:
#24
a=int(input("enter no of rows :"))
for i in range(1,a+1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

enter no of rows :5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#25
a=int(input("enter no of rows :"))
for i in range(1,a+1):
    for j in range(i,a+1):
        print(chr(64+j), end=" ")
    print()

enter no of rows :5
A B C D E
B C D E
C D E
D E
E

In [ ]:
#26
a=int(input("enter no of rows :"))
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

enter no of rows :5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#27
a=int(input("enter no of rows :"))
for i in range(1,a+1):
    for j in range(i,a+1):
        print(j, end=" ")
    print()

enter no of rows :5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
#28
a=int(input("enter no of rows: "))
for i in range(1,a+1):
    for j in range(1,a+1):
      if i%2==0:
        print(chr(64+j).lower(), end=" ")
      else:
        print(chr(64+j), end=" ")
    print()

enter no of rows: 5
A B C D E
a b c d e
A B C D E
a b c d e
A B C D E

In [ ]:
#29
a=int(input("enter no of rows :"))
for i in range(0,a):
  for j in range(0,a):
    if i %2==0 :
      print(chr(ord('A')+j),end=' ')
    else:
      print(chr(ord('a')+j),end=' ')
  print()

enter no of rows :5
A B C D E
a b c d e
A B C D E
a b c d e
A B C D E

In [ ]:
#30
ch = 65  # ASCII value of 'A'
a=int(input("enter no of rows: "))
for i in range(1,a+1):
    for j in range(1,a+1):
      if i%2==0:
        print(chr(ch).lower(), end=" ")
      else:
        print(chr(ch), end=" ")
      ch += 1
    print()

enter no of rows: 5
A B C D E
f g h i j
K L M N O
p q r s t
U V W X Y

In [ ]:
#31
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(1,a+1):
    if (i+j)%2==0:
      print('0',end=' ')
    else:
      print('1',end=' ')
  print()

enter no of rows: 5
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [ ]:
#32
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  print()

enter no of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#33
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    print(k,end=' ')
  for k in range(2,i+1):
    print(k,end=' ')
  print()

        1
      1 2 2
    1 2 3 2 3
  1 2 3 4 2 3 4
1 2 3 4 5 2 3 4 5

In [ ]:
#34
a=int(input("enter no of rows: "))
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(k,end=' ')
  print()

enter no of rows: 5
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
#36
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(a-i+1,a+1):
    print(k,end=' ')
  print()

enter nno of rows :5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [ ]:
#37
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    print('*',end=' ')
  print()

enter nno of rows :5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#38
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(a-i+1,a+1):
    print(k,end=' ')
  print()

enter nno of rows :5
1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [ ]:
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(i,0,-1):
    print(k,end=' ')
  print()

enter nno of rows :5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [ ]:
#39
a=int(input("enter no of rows :"))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(i,0,-1):
    print(k,end=' ')
  print()
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(i,0,-1):
    print(k,end=' ')
  print()

enter no of rows :5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [ ]:
#40
a=int(input("enter nno of rows :"))
for i in range(1,a+1):
  for j in range(a,i-1,-1):
    print(j,end=" ")
  print()
for i in range(a,0,-1):
  for j in range(a,i-1,-1):
    print(j,end=" ")
  print()

enter nno of rows :5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#41
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(6-i,end=' ')
  print()

enter no of rows: 5
        5
      4 4 4
    3 3 3 3 3
  2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1

In [ ]:
#42
a=int(input("enter no of rows: "))
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(6-i,end=' ')
  print()

enter no of rows: 5
1 1 1 1 1 1 1 1 1
  2 2 2 2 2 2 2
    3 3 3 3 3
      4 4 4
        5

In [ ]:
#43
a=int(input("enter no of rows: "))
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  print()

enter no of rows: 5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#44
a=5
for i in range(1,a+1):
  for k in range(i,a+1):
    print(chr(64+k),end=' ')
  print()

A B C D E
B C D E
C D E
D E
E

In [ ]:
#45
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

enter no of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#46
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  print()
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  print()

enter no of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#47
a=int(input("enter no of rows: "))
for i in range(1,a+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

enter no of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#48
a=int(input("enter nno of rows :"))
for i in range(a,0,-1):
  for j in range(1,i+1):
    print('*',end=" ")
  for k in range(a-i):
    print(' ',end=" ")
  for l in range(a-i):
    print(' ',end=" ")
  for m in range(1,i+1):
    print('*',end=" ")
  print()
for i in range(1,a+1):
  for j in range(1,i+1):
    print('*',end=" ")
  for k in range(a-i):
    print(' ',end=" ")
  for l in range(a-i):
    print(' ',end=" ")
  for m in range(1,i+1):
    print('*',end=" ")
  print()

enter nno of rows :5
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [ ]:
#49
a=5
for i in range(1,a+1):
  for j in range(1,a+1):
    if i==j:
      print(j,end=' ')
    else:
      print(' ',end=' ')
  print()

1
  2
    3
      4
        5

In [ ]:
#50
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    if k==1:
      print(i,end=' ')
    else:
      print(' ',end=' ')
  print()

        1
      2
    3
  4
5

In [ ]:
#51
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
       print(i,end=' ')
    else:
       print(' ',end=' ')
  print()

        1
      2   2
    3       3
  4           4
5               5

In [ ]:
#52
a=5
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

*               *
  *           *
    *       *
      *   *
        *

In [ ]:
#53
a= 7
for i in range(1, a+1):
    for j in range(1, a+1):
        if i==1 or i==a or j==1 or j==a or i == a  // 2 + 1 or j == a  // 2 + 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * *
*     *     *
*     *     *
* * * * * * *
*     *     *
*     *     *
* * * * * * *

In [ ]:
#54
a=5
for i in range(1,a+1):
  for j in range(1,a+1):
    if i==1 or i==a or j==1 or j==a:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#55
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
       print(i,end=' ')
    else:
       print(' ',end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
       print(i,end=' ')
    else:
       print(' ',end=' ')
  print()

        1
      2   2
    3       3
  4           4
5               5
  4           4
    3       3
      2   2
        1

In [ ]:
#56
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [ ]:
#57
a=5
for i in range(0,a):
  for j in range(0,i+1):
    print(j,end=' ')
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [ ]:
#58
a=6
for i in range(2,a+1):
  for k in range(a-i):
    print(' ',end=' ')
  for j in range(1,i+1):
    print(j,end=' ')
  for j in range(i-1,0,-1):
    print(j,end=' ')
  print()

        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [ ]:
#59
a=6
for i in range(2,a+1):
  for k in range(a-i):
    print(' ',end=' ')
  for j in range(1,i+1):
    print(chr(64+j),end=' ')
  for j in range(i-1,0,-1):
    print(chr(64+j),end=' ')
  print()

        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A
A B C D E F E D C B A

In [ ]:
#60
a=9
for i in range(1,a+1,2):
  for k in range(a-i):
    print(' ',end=' ')
  for j in range(1,i+1):
    print(i,end=' ')
  for j in range(i-1,0,-1):
    print(i,end=' ')
  print()

                1
            3 3 3 3 3
        5 5 5 5 5 5 5 5 5
    7 7 7 7 7 7 7 7 7 7 7 7 7
9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9

In [ ]:
#61
a=3
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  print()

    *
  * * *
* * * * *

In [ ]:
#62
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  for l in range(2*(a-i)):
    print(' ',end=' ')
  for m in range(1,i*2):
    print('*',end=' ')
  print()

        *                 *
      * * *             * * *
    * * * * *         * * * * *
  * * * * * * *     * * * * * * *
* * * * * * * * * * * * * * * * * *

In [ ]:
a=5
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  for l in range(2*(a-i)):
    print(' ',end=' ')
  for m in range(1,i*2):
    print('*',end=' ')
  print()

* * * * * * * * * * * * * * * * * *
  * * * * * * *     * * * * * * *
    * * * * *         * * * * *
      * * *             * * *
        *                 *

In [ ]:
#63
a=5
for i in range(a,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  for l in range(2*(a-i)):
    print(' ',end=' ')
  for m in range(i,0,-1):
    print(m,end=' ')
  print()

1 2 3 4 5 5 4 3 2 1
1 2 3 4     4 3 2 1
1 2 3         3 2 1
1 2             2 1
1                 1

In [ ]:
#64
a=6
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(' ',end=' ')
  for l in range(a-i):
    print('*',end=' ')
  for l in range(a-1-i):
    print('*',end=' ')
  for m in range(1,i*2):
    print(' ',end=' ')
  print()
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print('*',end=' ')
  for l in range(a-i):
    print(' ',end=' ')
  for l in range(a-1-i):
    print(' ',end=' ')
  for m in range(1,i*2):
    print('*',end=' ')
  print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          *                   *
        * * *               * * *
      * * * * *           * * * * *
    * * * * * * *       * * * * * * *
  * * * * * * * * *   * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *

In [ ]:
#65
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(2,i+1):
    print(chr(64+k),end=' ')
  for j in range(1,i+1):
    print(chr(64+j),end=' ')
  print()

        A
      B A B
    B C A B C
  B C D A B C D
B C D E A B C D E

In [ ]:
#66
a=5
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(chr(64+(6-i)),end=' ')
  print()
for i in range(2,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(chr(64+(6-i)),end=' ')
  print()

A A A A A A A A A
  B B B B B B B
    C C C C C
      D D D
        E
      D D D
    C C C C C
  B B B B B B B
A A A A A A A A A

In [ ]:
#67
a=5
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,end=' ')
  for k in range(2*(a-i)):
    print(' ',end=' ')
  for j in range(i,0,-1):
    print(j,end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  for k in range(2*(a-i)):
    print(' ',end=' ')
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1
1 2 3 4     4 3 2 1
1 2 3         3 2 1
1 2             2 1
1                 1

In [ ]:
#68
a=5
for i in range(a,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    print('*',end=' ')
  print()
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    print('*',end=' ')
  print()

* * * * *
  * * * *
    * * *
      * *
        *
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#69
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i+1):
    if k==1  or k==i or i==a:
      print(k,end=' ')
    else:
      print(' ',end=' ')
  print()

        1
      1 2
    1   3
  1     4
1 2 3 4 5

In [ ]:
#70
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    if k==1 or k==2*i-1 or i==a:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [ ]:
#71
a=5
for i in range(1,a+1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(6-i,end=' ')
  print()
for i in range(a-1,0,-1):
  for j in range(a-i):
    print(' ',end=' ')
  for k in range(1,i*2):
    print(6-i,end=' ')
  print()

        5
      4 4 4
    3 3 3 3 3
  2 2 2 2 2 2 2
1 1 1 1 1 1 1 1 1
  2 2 2 2 2 2 2
    3 3 3 3 3
      4 4 4
        5